@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --Blue-950: hsl(213, 96%, 18%);
  --Purple-600: hsl(243, 100%, 62%);
  --Blue-300: hsl(228, 100%, 84%);
  --Blue-200: hsl(206, 94%, 87%);
  --Red-500: hsl(354, 84%, 57%);

  --Grey-500: hsl(231, 11%, 63%);
  --Purple-200: hsl(229, 24%, 87%);
  --Blue-100: hsl(218, 100%, 97%);
  --Blue-50: hsl(231, 100%, 99%);
  --White: hsl(0, 100%, 100%);

  --font-Ubuntu: "Ubuntu";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  height: 100%;
  width: 100%;
  background-color: var(--Purple-200);
}



.page-1{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding: 1rem;
  background-color: var(--White);
}

.sidebar{
background-image: url("./public/assets/images/bg-sidebar-desktop.svg");
 background-repeat: no-repeat;
height: 570px;
width: 25%;

}

.steps{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 25px;
}

.first,
.second,
.third,
.four
{

  display: flex;
  align-items: center;
  /* padding: 2.5rem; */
  gap: 15px;
}

.text p{
  color: var(--Grey-500);
  font-family: var(--font-Ubuntu);
  font-size: 14px;
  
}

.text h3{
  font-family: var(--font-Ubuntu);
  color: var(--Purple-200);
  font-size: 16px;
  letter-spacing: 1px;
 
}

.circle{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Blue-200);
}

.circle p{
  color: var(--Blue-950);
  font-family: var(--font-Ubuntu);
}


.personal-info h2{
  padding-top: 2rem;
  font-family: var(--font-Ubuntu);
  color: var(--Blue-950);
  font-size: 35px;
}

.personal-info p{
  padding-top: 1rem;
  font-family: var(--font-Ubuntu);
  color: var(--Grey-500);
  font-size: 18px;
}

form{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  /* gap: 20PX; */
}

form input{
  padding: .8rem;
  border-radius: 8px;
  border: 1px solid var(--Purple-600);
}

form label{
  padding-top: 2rem;
  padding-bottom: 10px;
  color: var(--Blue-950);
  font-family: var(--font-Ubuntu);
}

.submit-btn{
  display: flex;
  justify-content: end;
  padding-top: 4rem;
}

.submit-btn button{
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--Blue-950);
  color: var(--White);
  font-family: var(--font-Ubuntu);
  font-size: 16px;
  cursor: pointer;
}

.select-plan h2{
  padding-top: 2rem;
  font-family: var(--font-Ubuntu);
  color: var(--Blue-950);
  font-size: 35px;
}

.select-plan p{
  padding-top: 1rem;
  font-family: var(--font-Ubuntu);
  color: var(--Grey-500);
  font-size: 18px;
}

.plans{
  padding-top: 3rem;
  display: flex;
  gap: 25px;
}

.arcade,
.advanced,
.pro
{
  width: 150px;
  border: 1px solid var(--Purple-600);
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
}

.arcade img, 
.advanced img,
.pro img
{
  padding: 1rem 0;
  height: 80px;
}

.arcade h3,
.advanced h3,
.pro h3
{
  font-family: var(--font-Ubuntu);
  color: var(--Blue-950);
  padding-top: 2rem;
  font-weight: 500;
  font-size: 20px;
}

.arcade span,
.advanced span,
.pro span
{
  font-family: var(--font-Ubuntu);
  color: var(--Grey-500);
  font-size: 16px;
}


.toggle-btn{
  padding: 3rem;
}



.buttons{
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.back-btn{
  background: none;
  border: none;
  color: var(--Blue-950);
  font-family: var(--font-Ubuntu);
  font-size: 16px;
  cursor: pointer;
}

.next-btn{
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--Blue-950);
  color: var(--White);
  font-family: var(--font-Ubuntu);
  font-size: 16px;
  cursor: pointer;
}

.finishing h2{
    padding-top: 2rem;
  font-family: var(--font-Ubuntu);
  color: var(--Blue-950);
  font-size: 35px;
}

.finishing p{
   padding-top: 1rem;
  font-family: var(--font-Ubuntu);
  color: var(--Grey-500);
  font-size: 18px;
}